#bg-image-container{
    height: 100vh;
    width: 100wh;
    background-image:url("old-rusty-fishing-boat-slope-along-shore-lake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}