#text-style{
    font-size:30px;
    color:blue;
    font-weight:700;
    text-align:justify;
    line-height: 35px;
    word-spacing:3px;
    text-transform: capitalize;
    text-decoration: dotted;
    text-shadow: 2px 2px 2px red;
}